.classpath
.project
.settings/

/out/
/target/
/.idea/workspace.xml
/META-INF/
/.vagrant/
.idea/
*.swp
.classpath
.project
.settings/
.vscode/
bin/

docker/java7/hello/target
docker/java8/hello/target
